<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AdminDashboard</title>
    <link rel="stylesheet" href="/admin.css">
  </head>
  <body>
    <div class="container">
      <div class="admin-header">
        <h1>Hi 👋, Admin</h1>
        <p>We have <%= allBooks.length %> books</p>
        <div class="admin-actions">
          <form action="/readers" method="get">
            <button>Show Readers</button>
          </form>
          <form action="/newBook" method="get">
            <button>Add new book</button>
          </form>
        </div>
        <div class="book-list">
        <% for(let allBook of allBooks){ %>
        <div class="book-item">
          <h3><%= allBook.title %></h3>
          <p>Author: <%= allBook.author %></p>
          <p>Copies Available: <%= allBook.copiesAvailable %></p>
          <form action="/remove/<%= allBook._id %>" method="get">
            <button type="submit">Remove Book</button>
          </form>
        </div>
        <% } %>
      </div>
    </div>
  </body>
</html>
